<!DOCTYPE html>
<html ng-app="WikiSearch">
<head>
	<title>Wiki Search</title>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.1/angular-resource.min.js"></script>
	<link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.0.0/semantic.min.css">

	<link rel="stylesheet" type="text/css" href="style.css">
	<script type="text/javascript" src="app.js"></script>
</head>
<body>
<div ng-controller="WikiCtrl" id='content'>
	<div id="control">
		<div class="ui right action left icon input">
  			<input type="text" placeholder="Search Wikipedia" ng-model='query'>
  			<i class="big icon search"></i>
  			<button onclick="location.href='https://en.wikipedia.org/wiki/Special:Random';" class="ui teal right labeled icon button" >
    			<i class="random icon"></i>
    			Go Random
  			</button>
		</div>
	</div>
	<div class="ui raised segment" ng-repeat='data in wikiData'>
  		<h4 class="ui header">{{data.name}}</h4>
  		<p>{{data.snip}}</p><a href="{{data.link}}">Read More <i class="small external icon"></i></a>
  	</div>
</div>
</body>
</html>